.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.to-do-item {
    list-style: none;
}

.completed {
    text-decoration: line-through;
}